# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development
.env.development.local
.env.test
.env.test.local
.env.production
.env.production.local
*.local
!.env.example

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# cloudflare
.wrangler
.dev.vars

# Build Outputs
.next/
out/
build
dist
dist-ssr

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Misc
.DS_Store
*.pem
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json

# docker
.containers

# Cloudflare
.wrangler
